.card{
    border: 0px;
    margin-bottom: 85px;
    width: 100% !important;
}
.card-body{
    background-color: var(--bgColor);
    text-align: left !important;
}
.name{
    font-weight: bold;
    font-size: 14px;
    color: #2e2e22;
    margin-bottom: 0px;
}
.cat{
    font-weight: normal;
    font-size: 12px;
    color: var(--lightGray);
    margin-bottom: 10px;

}

.card-img-top{
    height: 330px !important;
}

.price{
    font-size: 12px;
    font-weight: 500;
    color: var(--lightGray);

}

.cont-btn{
    border: 1px solid rgb(206, 206, 206);
    border-radius: 0px;
    padding: 3px 10px;
}
.cont-btn:hover{
    border: 1px solid black;
   box-shadow: #2e2e22;
    

}

.fav-btn{
    position: absolute;
    top: 10px;
    left:10px;
    width: auto;
    height: auto;
    background-color: var(--bgColor);

}
.fav-btn:hover .fa-heart{
  
    color: red;

}