<div class="homeSlider position-relative">
    <div class="home-intro">
        <h2 class="intro-head">
            All Natural
            <br>
            Skin Remedies.
        </h2>
        <br>
        
        <h4 class="intro-body text-muted">
            A healthier you from the inside out. We’ve sourced the
            <br>
             cleanest ingredients to create a line of clean skin care 
             <br> 
             treatments that leave you feeling your best
        </h4>
        <br>
        <button class="btn shop-btn" (click)="sun()">Shop Products</button>
    </div>
</div>
<!-- Taps and pills -->
<div class="work-content text-center ms-auto">
    <!-- navs & tabs -->
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
          type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-sun-tab" data-bs-toggle="pill" data-bs-target="#pills-sun"
          type="button" role="tab" aria-controls="pills-sun" aria-selected="false">Brand</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-ezcema-tab" data-bs-toggle="pill" data-bs-target="#pills-ezcema"
          type="button" role="tab" aria-controls="pills-ezcema" aria-selected="false">Design</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-psoriasis-tab" data-bs-toggle="pill" data-bs-target="#pills-psoriasis"
          type="button" role="tab" aria-controls="pills-psoriasis" aria-selected="false">Graphic</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-vitiligio-tab" data-bs-toggle="pill" data-bs-target="#pills-vitiligio"
          type="button" role="tab" aria-controls="pills-vitiligio" aria-selected="false">Graphic</button>
      </li>

    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab"
        tabindex="0">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/1.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/2.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/3.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/4.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/5.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/6.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-brand" role="tabpanel" aria-labelledby="pills-brand-tab" tabindex="0">
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/4.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/6.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-design" role="tabpanel" aria-labelledby="pills-design-tab" tabindex="0">



        <div class="row gy-4">

          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/2.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/5.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="tab-pane fade" id="pills-graphic" role="tabpanel" aria-labelledby="pills-graphic-tab"
        tabindex="0">
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/1.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/3.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="portfolio-card position-relative">
              <img src="images/portfolio/5.jpg" class="w-100" alt="">

              <div class="img-overlay position-absolute  ">
                <h6>Web Design</h6>
                <div class="row row-icon gap-2">
                  <span><i class="fa-solid fa-link-slash"></i></span>
                  <span><i class="fa-solid fa-magnifying-glass-plus"></i></span>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

<!-- Products -->
<div class="container">
    <div class="row justify-content-between mb-3">
        <div *ngFor="let product of products" class="products-section col-lg-3 col-md-3">

            <app-product-card [productObject]="product"></app-product-card>

        </div>


    </div>

</div>