<div class="homeSlider position-relative">
    <div class="home-intro">
        <h2 class="intro-head">
            All Natural
            <br>
            Skin Remedies.
        </h2>
        <br>
        
        <h4 class="intro-body text-muted">
            A healthier you from the inside out. We’ve sourced the
            <br>
             cleanest ingredients to create a line of clean skin care 
             <br> 
             treatments that leave you feeling your best
        </h4>
        <br>
        <button class="btn shop-btn" (click)="sun()">Shop Products</button>
    </div>
</div>

 <div class="container">
  <div class="search mt-4 w-50 m-auto" >
    <button class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
    <input [(ngModel)]="searchTerm" type="text" class="form-control w-100 search-input">
  </div>
<div class="work-content text-center ms-auto">
    <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
          type="button" role="tab" aria-controls="pills-all" aria-selected="true">All</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-sun-tab" data-bs-toggle="pill" data-bs-target="#pills-sun"
          type="button" role="tab" aria-controls="pills-sun" aria-selected="false">Sun</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-ezcema-tab" data-bs-toggle="pill" data-bs-target="#pills-ezcema"
          type="button" role="tab" aria-controls="pills-ezcema" aria-selected="false">Ezcema</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-psoriasis-tab" data-bs-toggle="pill" data-bs-target="#pills-psoriasis"
          type="button" role="tab" aria-controls="pills-psoriasis" aria-selected="false">Psoriasis</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-vitiligio-tab" data-bs-toggle="pill" data-bs-target="#pills-vitiligio"
          type="button" role="tab" aria-controls="pills-vitiligio" aria-selected="false">Vitiligio</button>
      </li>

    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab"
        tabindex="0">
        <div class="row justify-content-center mb-3">
          <div *ngIf="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>

          <div *ngFor="let product of products | search: searchTerm" class="products-section col-lg-3 col-md-3 col-sm-6">
            
              <app-product-card [productObject]="product" style="width: 100%;"></app-product-card>
  
          </div>
  
  
      </div>
      </div>
      <div class="tab-pane fade" id="pills-sun" role="tabpanel" aria-labelledby="pills-sun-tab" tabindex="0">
        <div class="row justify-content-center mb-3">
          <div *ngIf="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngFor="let product of sunProduct" class="products-section col-lg-3 col-md-3 col-sm-6">
  
              <app-product-card [productObject]="product"></app-product-card>
  
          </div>
  
  
      </div>
      </div>
      <div class="tab-pane fade" id="pills-ezcema" role="tabpanel" aria-labelledby="pills-ezcema-tab" tabindex="0">



        <div class="row justify-content-center mb-3">
          <div *ngIf="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngFor="let product of ezcemaProduct" class="products-section col-lg-3 col-md-3 col-sm-6">
  
              <app-product-card [productObject]="product"></app-product-card>
  
          </div>
  
  
      </div>
      </div>
      <div class="tab-pane fade" id="pills-psoriasis" role="tabpanel" aria-labelledby="pills-psoriasis-tab"
        tabindex="0">
        <div class="row justify-content-center mb-3">
          <div *ngIf="loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngFor="let product of psoriasisProduct" class="products-section col-lg-3 col-md-3 col-sm-6">
  
              <app-product-card [productObject]="product"></app-product-card>
  
          </div>
  
  
      </div>
      </div>
      <div class="tab-pane fade" id="pills-vitiligio" role="tabpanel" aria-labelledby="pills-vitiligio-tab"
        tabindex="0">
        <div class="row justify-content-center mb-3">
          <div *ngIf="!vitiligioProduct ">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div *ngFor="let product of vitiligioProduct" class="products-section col-lg-3 col-md-3 col-sm-6 col-sm-6">
  
              <app-product-card [productObject]="product"></app-product-card>
  
          </div>
  
  
      </div>
      </div>
    </div>

  </div>
</div>



